<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div><a href="PainelAdm.html"> Voltar para o painel</a> </div>
    <div id="divResposta"></div>
    <div id="divFormulario">
       
        <div>id: <input type="text" id="txtId" disabled></div>
        <div>nome:<input type="text" id="txtNome"></div>
        <div>e-mail:<input type="text" id="txtEmail"></div>
        <div>senha:<input type="password" id="txtSenha"></div>
        <div>Vale Transporte:<input type="checkbox" id="chkValeTransporte"></div>
        <div><select id="cboCargos"></select></div>

    </div>
    <div id="divBotaoComando">
    <button id="btnNew">NOVO</button>
    <button id="btnCreate">CADASTRAR</button>
    <button id="btnUpdate">ATUALIZAR</button>
    <button id="btnCancelar">CANCELAR</button>
    
    </div>
    <div id="divFiltro">Filtrar: <input type="text" id ="txtFiltro"></div>    
    <div id="divFunncionarios">
        <table id="tblFuncionarios" border="1">
            <th>id</th>
            <th>nome</th>
            <th>email</th>
            <th>VT</th>
            <th>cargo</th>
            <th>Atualizar</th>
            <th>Excluir</th>
        </table>
    </div>
</body>

<script type="text/javascript" src = "/view/js/funcionarios.js"></script>
<script>
   
</script>
</html>