<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <title>Login & Register</title>
  </head>
  <body>
    <div class="container-page" id="Container">
      <div class="login-container" id="LoginContainer">
        <h1 class="title">Login</h1>

        <div class="input-line-container">
          <span class="name-input"><h3>Nome de usuário</h3></span>
          <input type="text" id="txtEmail" class="input-line" id="" />
        </div>
        <div class="input-line-container">
          <span class="name-input"><h3>Senha</h3></span>
          <input type="password" id="txtSenha" class="input-line" id="" />
        </div>
        <div id="divResposta"></div>
        <button id="btnLogin" type="submit" class="button-login">Login</button>
        <div id="btnRegister" type="submit" class="button-second">
          Registre-se
        </div>
      </div>
    </div>

    x

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/login.js"></script>
  </body>
</html>
