<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>

<body>

    <div id="divFormulario">
        <div class="card">
            <div id="divResposta"></div>
            <div><h3>e-mail:</h3><input type="text" id="txtEmail"></div>
            <div><h3>senha:</h3><input type="password" id="txtSenha"></div>
            <button id="btnLogin" type="submit">Login</button>
        </div>
    </div>

</body>
<script type="text/javascript" src="/js/login.js"></script>

</html>
